.card {
  box-sizing: border-box;
  width: 47%;
  background-color: var(--colorBackgroundCard);
  padding: 5px;
  border-radius: 8px;
  min-height: 200px;
  position: relative;
}

.date {
  padding: 5px 5px 8px;
  text-align: center;
}

.validDate {
  text-align: center;
  color: var(--colorFontPrimary);
  font-size: 0.5em;
  margin-top: -8px;
  padding-bottom: 9px;
}

.editDate {
  font-size: 0.45em;
  display: flex;
  position: absolute;
  bottom: 3px;
}

.OneMoreCheck {
  font-size: 0.85em;
  color: var(--colorAddMoreCheck);
  margin: 3px;
  border-radius: 5px;
  padding: 3px 3px 3px 6px;
  transition: all ease 0.3s;
}

.OneMoreCheck:hover {
  color: white;
  background-color: var(--colorBackgroundLine);
}



.cardPostitButtonRestore{
 /*  position: absolute;
  right: 10px;
  bottom: 10px; */
  margin-bottom: 7px;
  color: var(--colorFontPrimary);
  background-color: var(--colorBackgroundLine);
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}


.homeShare{
  margin-bottom: 7px;
  font-size: 11px;
}

.homeShareSpan{
 font-weight: bold;
 
}

@media screen and (min-width: 900px) {
  .card {
    width: 32%;
  }
}

@media screen and (min-width: 1400px) {
  .card {
    width: 23%;
  }
}
