.rodape {
  position: fixed;
  bottom: 3px;
  right: 6px;
}
.textoRodape {
  color: var(--colorFontPrimary);
  font-size: .8em;
}
svg {
  color: var(--colorFontSecondary);
}
a {
  text-decoration: none;
}
