

.cabecalho{
  display: flex;
  justify-content: space-between;
}
.titleTexts{
  flex: 1;
  font-size: 1em;
  text-align: center;
  
  color: var(--colorFontPrimary);
}

.textContent{
  font-size: 1em;
  text-align: center;
  padding: 5px 0;
}

.buttonX{
  
  background-color: transparent;
  border: none;
}