

.cabecalho{
  display: flex;
  justify-content: space-between;
}
.titleTexts{
  flex: 1;
  font-size: .81em;
  text-align: center;
  overflow: hidden;
  color: var(--colorFontPrimary);
}

.textContent{
  font-size: .88em;
  text-align: center;
  padding: 5px 0;
}

.buttonX{
  
  background-color: transparent;
  border: none;
}

.textsRefresh{
  color: var(--colorFontPrimary);
  font-size: 20px;
}