.botao-adicionar {
  background-image: radial-gradient(var(--colorFontPrimary), var(--colorBackgroundCard));
  color: var(--colorFontSecondary);
  font-weight: bolder;
  text-shadow: 0px 0px 3px black;
  border-radius: 50%;
  position: fixed;
  z-index: 2;
  bottom: 20px;
  left: 50vw;
  width: 50px;
  height: 50px;
  transform: translate(-50%);
}

.body {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 10px;
  
}

.containerSearch {
  position: fixed;
  bottom: 2px;
  z-index: 3;
  left: -111px;
  /* display: flex;
    justify-content: end; */
  transition: 0.5s;
  display: flex;
  align-items: center;
}

.containerSearch input {
  width: 110px;
  padding: 5px;
  border: none;
  outline: 0;
  background-color: transparent;
}

.containerSearch .lupa {
  margin-left: 7px;
  background-color: var(--colorBackgroundCard);
  padding: 5px;
  border-radius: 5px;
}

.containerInputMic {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}

.homeBottonSettings {
  position: fixed;
  bottom: 19px;
  right: 50px;
  font-size: 26px;
  color: var(--colorFontSecondary);
}

.homeButtonExit {
  position: fixed;
  bottom: 19px;
  right: 10px;
  font-size: 22px;
  color: var(--colorFontSecondary);
}
