* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --colorBackground: #222;
  --colorBackgroundCard: #333;
  --colorFontPrimary: chartreuse;
  --colorFontSecondary: #fff;
  --colorAddMoreCheck: #666;
  --colorBackgroundLine: #444;
  --colorFontDisabled: #777;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--colorBackground);
  color: var(--colorFontSecondary);
  transition: .5s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
